
/* Styles for ListItemIcon */

// Styles applied to the root element.
.ZuListItemIcon-root {
  display: inline-flex;
  flex-shrink: 0;
  min-width: 56px;

  color: var(--zu-palette-action-active);
}

// Styles applied to the root element when the parent ListItem uses alignItems="flex-start".
.ZuListItemIcon-alignItemsFlexStart {
  margin-top: 8px;
}