
/* Styles for ButtonBase */

// Styles applied to the root element.
.ZuButtonBase-root {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    // Disable the focus ring for mouse, touch and keyboard users.
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    user-select: none;
    appearance: none;
    text-decoration: none;

    // Reset default value
    color: inherit;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;

    &::-moz-focus-inner {
        // Remove Firefox dotted outline.
        border-style: none;
    }

    @media print {
        color-adjust: exact;
    }
}

// State class applied to the root element if disabled={true}.
.ZuButtonBase-disabled {
    // Disable link interactions
    pointer-events: none;
    cursor: default;
}

// State class applied to the root element if keyboard focused.
.ZuButtonBase-focusVisible {

}