/* Styles for ZuSkeleton */

/* Styles applied to the root element. */
.ZuSkeleton-root {
  display: block;
  height: 1.2em;

  /* Create a "on paper" color with sufficient contrast retaining the color */
  /*background-color: var(--zu-palette-text-primary);*/
  background-color: var(--zu-skeleton-bg);
}

/* Styles applied when the component is passed children. */
.ZuSkeleton-withChildren {

}

/* Styles applied when the component is passed children and no width. */
.ZuSkeleton-fitContent {

}

/* 	Styles applied when the component is passed children and no height. */
.ZuSkeleton-heightAuto {

}

/* Variant */
/* Styles applied to the root element if variant="text". */
.ZuSkeleton-text {
  transform-origin: 0 55%;
  transform: scale(1, 0.60);

  margin-top: 0;
  margin-bottom: 0;

  border-radius: 4px / 6.7px;
}

.ZuSkeleton-text::before {
  content: "\00a0";
}

/* Styles applied to the root element if variant="circular". */
.ZuSkeleton-circular {
  border-radius: 50%;
}

/* Styles applied to the root element if variant="rect". */
.ZuSkeleton-rect {

}

/* Styles applied to the root element if variant="rounded". */
.ZuSkeleton-rounded {
  border-radius: var(--zu-shape-borderRadius);
}

/* Animation */
/* Styles applied to the root element if animation="pulse". */
.ZuSkeleton-pulse {
  animation: 1.5s ease-in-out 0.5s infinite zu-skeleton-pulse;
}

/* Styles applied to the root element if animation="wave". */
.ZuSkeleton-wave {
  position: relative;
  overflow: hidden;

  /* Fix bug in Safari https://bugs.webkit.org/show_bug.cgi?id=68196 */
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.ZuSkeleton-wave::after {
  content: "";

  position: absolute;
  transform: translateX(-100%); /* Avoid flash during server-side hydration */

  animation: 1.6s linear 0.5s infinite zu-skeleton-wave;
  background: linear-gradient(
      90deg,
      transparent,
      var(--zu-palette-action-hover),
      transparent
  );
  inset: 0;
}

@keyframes zu-skeleton-pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zu-skeleton-wave {
  0% {
    transform: translateX(-100%);
  }

  50% {
    /* +0.5s of delay between each loop */
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}
