
/* Styles for CheckBox */

// Styles applied to the root element.
.ZuCheckbox-root {
  color: $zu-palette-text-secondary;

}

.ZuCheckbox-enableRipple {
  &:hover {
    &.ZuCheckbox-colorDefault {
      background-color: change-color($zu-palette-action-active, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorPrimary {
      background-color: change-color($zu-palette-primary-main, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorSecondary {
      background-color: change-color($zu-palette-secondary-main, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorSuccess {
      background-color: change-color($zu-palette-success-main, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorInfo {
      background-color: change-color($zu-palette-info-main, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorWarning {
      background-color: change-color($zu-palette-warning-main, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorError {
      background-color: change-color($zu-palette-error-main, $alpha: $zu-palette-action-hoverOpacity);
    }

    // Reset on touch devices, it doesn't add specificity
    @media (hover: none) {
      background-color: transparent;
    }
  }
}

// State class applied to the root element if checked={true}.
.ZuCheckbox-checked {

}

// State class applied to the root element if disabled={true}.
.ZuCheckbox-disabled {

}

// State class applied to the root element if indeterminate={true}.
.ZuCheckbox-indeterminate {

}

.ZuCheckbox-colorPrimary {
  &.ZuSwitchBase-checked, &.ZuCheckbox-indeterminate {
    color: $zu-palette-primary-main;
  }

  &.ZuCheckbox-disabled {
    color: $zu-palette-action-disabled;
  }
}

.ZuCheckbox-colorSecondary {
  &.ZuSwitchBase-checked, &.ZuCheckbox-indeterminate {
    color: $zu-palette-secondary-main;
  }

  &.ZuCheckbox-disabled {
    color: $zu-palette-action-disabled;
  }
}

.ZuCheckbox-colorSuccess {
  &.ZuSwitchBase-checked, &.ZuCheckbox-indeterminate {
    color: $zu-palette-success-main;
  }

  &.ZuCheckbox-disabled {
    color: $zu-palette-action-disabled;
  }
}

.ZuCheckbox-colorInfo {
  &.ZuSwitchBase-checked, &.ZuCheckbox-indeterminate {
    color: $zu-palette-info-main;
  }

  &.ZuCheckbox-disabled {
    color: $zu-palette-action-disabled;
  }
}

.ZuCheckbox-colorWarning {
  &.ZuSwitchBase-checked, &.ZuCheckbox-indeterminate {
    color: $zu-palette-warning-main;
  }

  &.ZuCheckbox-disabled {
    color: $zu-palette-action-disabled;
  }
}

.ZuCheckbox-colorError {
  &.ZuSwitchBase-checked, &.ZuCheckbox-indeterminate {
    color: $zu-palette-error-main;
  }

  &.ZuCheckbox-disabled {
    color: $zu-palette-action-disabled;
  }
}