
/* Styles for CheckBox */

// Styles applied to the root element.
.ZuCheckbox-root {
  color: var(--zu-palette-text-secondary);


}

.ZuCheckbox-enableRipple {
  &:hover {
    &.ZuCheckbox-colorDefault {
      background-color: var(--zu-palette-action-active);
    }
    &.ZuCheckbox-colorPrimary {
      background-color: change-color($zu-palette-primary-main, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorSecondary {
      background-color: change-color($zu-palette-secondary-main, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorSuccess {
      background-color: change-color($zu-palette-success-main, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorInfo {
      background-color: change-color($zu-palette-info-main, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorWarning {
      background-color: change-color($zu-palette-warning-main, $alpha: $zu-palette-action-hoverOpacity);
    }
    &.ZuCheckbox-colorError {
      background-color: change-color($zu-palette-error-main, $alpha: $zu-palette-action-hoverOpacity);
    }

    // Reset on touch devices, it doesn't add specificity
    @media (hover: none) {
      background-color: transparent;
    }
  }
}

// State class applied to the root element if checked={true}.
.ZuCheckbox-checked {

}

// State class applied to the root element if disabled={true}.
.ZuCheckbox-disabled {

}

// State class applied to the root element if indeterminate={true}.
.ZuCheckbox-indeterminate {

}

.ZuCheckbox-colorPrimary {
  &.ZuCheckbox-checked, &.ZuCheckbox-indeterminate {
    color: var(--zu-palette-primary-main);
  }
}
.ZuCheckbox-colorSecondary {
  &.ZuCheckbox-checked, &.ZuCheckbox-indeterminate {
    color: var(--zu-palette-secondary-main);
  }
}
.ZuCheckbox-colorSuccess {
  &.ZuCheckbox-checked, &.ZuCheckbox-indeterminate {
    color: var(--zu-palette-success-main);
  }
}
.ZuCheckbox-colorInfo {
  &.ZuCheckbox-checked, &.ZuCheckbox-indeterminate {
    color: var(--zu-palette-info-main);
  }
}
.ZuCheckbox-colorWarning {
  &.ZuCheckbox-checked, &.ZuCheckbox-indeterminate {
    color: var(--zu-palette-warning-main);
  }
}
.ZuCheckbox-colorError {
  &.ZuCheckbox-checked, &.ZuCheckbox-indeterminate {
    color: var(--zu-palette-error-main);
  }
}