
/* Styles for Divider */

// Styles applied to the root element.
.ZuDivider-root {
  margin: 0;
  border-width: 0;
  border-style: solid;
  border-color: $zu-palette-divider;
}

// Styles applied to the root element if absolute={true}.
.ZuDivider-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
}

// Styles applied to the root element if variant="inset".
.ZuDivider-inset {
  margin-left: 72px;
}

// Styles applied to the root element if variant="fullWidth".
.ZuDivider-fullWidth {

}

// Styles applied to the root element if variant="middle".
.ZuDivider-middle {

}

// Styles applied to the root element if flexItem={true}.
.ZuDivider-flexItem {
  align-self: stretch;
  height: auto;
}

// Styles applied to the root element if divider have text.
.ZuDivider-withChildren {
  display: flex;
  border: 0;

  white-space: nowrap;
  text-align: center;

  &::before,
  &::after {
    content: "";
    align-self: center;
  }
}

// Styles applied to the root element if divider have text and orientation="horizontal".
.ZuDivider-withChildrenHorizontal {
  &::before,
  &::after {
    width: 100%;
    border-top: thin solid $zu-palette-divider;
  }
}

// Styles applied to the root element if divider have text and orientation="vertical".
.ZuDivider-withChildrenVertical {
  flex-direction: column;

  &::before,
  &::after {
    height: 100%;
    border-left: thin solid $zu-palette-divider;
  }
}

// Styles applied to the root element if textAlign="start" orientation="horizontal".
.ZuDivider-textAlignLeft {
  &::before {
    width: 10%;
  }
  &::after {
    width: 90%;
  }
}


// Styles applied to the root element if textAlign="end" orientation="horizontal".
.ZuDivider-textAlignRight {
  &::before {
    width: 90%;
  }
  &::after {
    width: 10%;
  }
}

// Styles applied to the root element if light={true}.
.ZuDivider-light {
  border-color: #{change-color($zu-palette-divider, $alpha: 0.08)};
}

// Styles applied to the root element if orientation="horizontal".
.ZuDivider-horizontal {
  width: 100%;
  border-bottom-width: thin;

  &.ZuDivider-middle {
    margin-left: $zu-spacing-l;
    margin-right: $zu-spacing-l;
  }
}

// Styles applied to the root element if orientation="vertical".
.ZuDivider-vertical {
  height: 100%;
  border-bottom-width: 0;
  border-right-width: thin;

  &.ZuDivider-middle {
    margin-top: $zu-spacing-s;
    margin-bottom: $zu-spacing-s;
  }
}

.ZuDivider-wrapper {
  display: inline-block;
  padding-left: $zu-spacing-mNudge;
  padding-right: $zu-spacing-mNudge;
}

// Styles applied to the span children element if orientation="horizontal".
.ZuDivider-wrapperHorizontal {

}

// Styles applied to the span children element if orientation="vertical".
.ZuDivider-wrapperVertical {
  padding-top: $zu-spacing-mNudge;
  padding-bottom: $zu-spacing-mNudge;
}