
/* Styles for BottomNavigation */

// Styles applied to the root element.
.ZuBottomNavigation-root {
  display: flex;
  justify-content: center;
  height: 56px;
  background-color: var(--zu-palette-background-paper);
}