
/* Styles for Container */

/* Styles applied to the root element. */
.ZuContainer-root {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/* Styles applied to the root element if disable_gutters={false}. */
.ZuContainer-disableGutters {

}

.ZuContainer-enableGutters {
  padding-left: 16px;
  padding-right: 16px;
}

/* Styles applied to the root element if fixed={true}. */
.ZuContainer-fixed {

}

/* Styles applied to the root element if maxWidth="XSmall". */
.ZuContainer-maxWidthXs {

}

@media (min-width: 0px) {
  .ZuContainer-maxWidthXs {
    max-width: 444px;
  }
}

/* Styles applied to the root element if maxWidth="Small". */
.ZuContainer-maxWidthSm {

}

@media (min-width: 600px) {
  .ZuContainer-maxWidthSm {
    max-width: 600px;
  }

  .ZuContainer-maxWidthSm,
  .ZuContainer-maxWidthMd,
  .ZuContainer-maxWidthLg,
  .ZuContainer-maxWidthXl {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* Styles applied to the root element if maxWidth="Middle". */
.ZuContainer-maxWidthMd {

}

/* Styles applied to the root element if maxWidth="Large". */
.ZuContainer-maxWidthLg {

}

/* Styles applied to the root element if maxWidth="XLarge". */
.ZuContainer-maxWidthXl {

}
