
/* Styles for Badge */

/* Styles applied to the root element. */
.ZuBadge-root {
  position: relative;
  vertical-align: middle;

  display: inline-flex;
  flex-shrink: 0;
}

/* Styles applied to the badge `span` element. */
.ZuBadge-span {
  position: absolute;
  z-index: 1;
  transition: transform var(--zu-easing-easeInOut) var(--zu-duration-enteringScreen) 0ms;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  font-family: var(--zu-typography-fontFamily);
  font-weight: var(--zu-typography-fontWeightMedium);
  font-size: 12px;
  line-height: 1;
}

$zu-badge-radiusDot: 4px;
$zu-badge-radiusStandard: 10xp;
:root {
  --zu-badge-radiusDot: #{$zu-badge-radiusDot};
  --zu-badge-radiusStandard: #{$zu-badge-radiusStandard};
}

/* Styles applied to the badge `span` element if variant="dot". */
.ZuBadge-dot {
  border-radius: $zu-badge-radiusDot;
  height: $zu-badge-radiusDot * 2;
  min-width: $zu-badge-radiusDot * 2;
  padding: 0;
}

/* Styles applied to the badge `span` element if variant="standard". */
.ZuBadge-standard {
  min-width: $zu-badge-radiusStandard * 2;
  height: $zu-badge-radiusStandard * 2;
  border-radius: $zu-badge-radiusStandard;
  padding: 0 6px;
}

.ZuBadge-anchorOriginTopLeft {

}
.ZuBadge-anchorOriginTopRight {

}
.ZuBadge-anchorOriginBottomLeft {

}
.ZuBadge-anchorOriginBottomRight {

}

/* State class applied to the badge `span` element if invisible={true}. */
.ZuBadge-invisible {
  transition: transform var(--zu-easing-easeInOut), var(--zu-duration-leavingScreen) 0ms;
}

/* Styles applied to the badge `span` element if color="primary". */
.ZuBadge-colorPrimary {
  color: var(--zu-palette-primary-contrastText);
  background-color: var(--zu-palette-primary-main);
}

/* Styles applied to the badge `span` element if color="secondary". */
.ZuBadge-colorSecondary {
  color: var(--zu-palette-secondary-contrastText);
  background-color: var(--zu-palette-secondary-main);
}

/* Styles applied to the badge `span` element if color="error". */
.ZuBadge-colorError {
  color: var(--zu-palette-error-contrastText);
  background-color: var(--zu-palette-error-main);
}

/* Styles applied to the badge `span` element if color="info". */
.ZuBadge-colorInfo {
  color: var(--zu-palette-info-contrastText);
  background-color: var(--zu-palette-info-main);
}

/* Styles applied to the badge `span` element if color="success". */
.ZuBadge-colorSuccess {
  color: var(--zu-palette-success-contrastText);
  background-color: var(--zu-palette-success-main);
}

/* Styles applied to the badge `span` element if color="warning". */
.ZuBadge-colorWarning {
  color: var(--zu-palette-warning-contrastText);
  background-color: var(--zu-palette-warning-main);
}

/* Styles applied to the badge `span` element if overlap="circle". */
.ZuBadge-overlapCircle {

}

.ZuBadge-anchorOriginTopLeft.ZuBadge-overlapCircle {
  top: 14%;
  left: 14%;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0 0;
}
.ZuBadge-anchorOriginTopLeft.ZuBadge-overlapCircle.ZuBadge-invisible {
  transform: scale(0) translate(-50%, -50%);
}

.ZuBadge-anchorOriginTopRight.ZuBadge-overlapCircle {
  top: 14%;
  right: 14%;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0;
}
.ZuBadge-anchorOriginTopRight.ZuBadge-overlapCircle.ZuBadge-invisible {
  transform: scale(0) translate(50%, -50%);
}

.ZuBadge-anchorOriginBottomLeft.ZuBadge-overlapCircle {
  bottom: 14%;
  left: 14%;
  transform: scale(1) translate(-50%, 50%);
  transform-origin: 0 100%;
}
.ZuBadge-anchorOriginBottomLeft.ZuBadge-overlapCircle.ZuBadge-invisible {
  transform: scale(0) translate(-50%, 50%);
}

.ZuBadge-anchorOriginBottomRight.ZuBadge-overlapCircle {
  bottom: 14%;
  right: 14%;
  transform: scale(1) translate(50%, 50%);
  transform-origin: 100% 100%;
}
.ZuBadge-anchorOriginBottomRight.ZuBadge-overlapCircle.ZuBadge-invisible {
  transform: scale(0) translate(50%, 50%);
}

/* Styles applied to the badge `span` element if overlap="rect". */
.ZuBadge-overlapRect {

}
.ZuBadge-anchorOriginTopLeft.ZuBadge-overlapRect {
  top: 0;
  left: 0;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0 0;
}
.ZuBadge-anchorOriginTopLeft.ZuBadge-overlapRect.ZuBadge-invisible {
  transform: scale(0) translate(-50%, -50%);
}

.ZuBadge-anchorOriginTopRight.ZuBadge-overlapRect {
  top: 0;
  right: 0;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0;
}
.ZuBadge-anchorOriginTopRight.ZuBadge-overlapRect.ZuBadge-invisible {
  transform: scale(0) translate(50%, -50%);
}

.ZuBadge-anchorOriginBottomLeft.ZuBadge-overlapRect {
  bottom: 0;
  left: 0;
  transform: scale(1) translate(-50%, 50%);
  transform-origin: 0 100%;
}
.ZuBadge-anchorOriginBottomLeft.ZuBadge-overlapRect.ZuBadge-invisible {
  transform: scale(0) translate(-50%, 50%);
}

.ZuBadge-anchorOriginBottomRight.ZuBadge-overlapRect {
  bottom: 0;
  right: 0;
  transform: scale(1) translate(50%, 50%);
  transform-origin: 100% 100%;
}
.ZuBadge-anchorOriginBottomRight.ZuBadge-overlapRect.ZuBadge-invisible {
  transform: scale(0) translate(50%, 50%);
}