
/* Light Palette */
:root {
  /* The colors used to style the text. */
  --zu-palette-text-primary: rgba(0, 0, 0, 0.87);
  --zu-palette-text-secondary: rgba(0, 0, 0, 0.6);
  /* Disabled text have even lower visual prominence. */
  --zu-palette-text-disabled: rgba(0, 0, 0, 0.38);

  /* The color used to divide different elements. */
  --zu-palette-divider: rgba(0, 0, 0, 0.12);

  /* The background colors used to style the surfaces.
   * Consistency between these values is important. */
  --zu-palette-background-paper: white;
  --zu-palette-background-default: white;

  /* The colors used to style the action elements. */
  --zu-palette-action-active: rgba(0, 0, 0, 0.54);
  --zu-palette-action-hover: rgba(0, 0, 0, 0.04);
  --zu-palette-action-hoverOpacity: 0.04;
  --zu-palette-action-selected: rgba(0, 0, 0, 0.08);
  --zu-palette-action-selectedOpacity: 0.08;
  --zu-palette-action-disabled: rgba(0, 0, 0, 0.26);
  --zu-palette-action-disabledOpacity: 0.26;
  --zu-palette-action-disabledBackground: rgba(0, 0, 0, 0.12);
  --zu-palette-action-focus: rgba(0, 0, 0, 0.12);
  --zu-palette-action-focusOpacity: 0.12;
  --zu-palette-action-activatedOpacity: 0.12;
}
