
// Styles for Typography 

// Styles applied to the root element.
.ZuTypography-root {
  margin: 0;
}

// styles applied to the root element if variant="body1".
.ZuTypography-body1 {
  @include zu-typography-body1;
}

// Styles applied to the root element if variant="body2".
.ZuTypography-body2 {
  @include zu-typography-body2;
}

// Styles applied to the root element if variant="button".
.ZuTypography-button {
  display: inline-block;

  @include zu-typography-button;
}

// Styles applied to the root element if variant="caption".
.ZuTypography-caption {
  display: block;

  @include zu-typography-caption;
}

// Styles applied to the root element if variant="h1".
.ZuTypography-h1 {
  @include zu-typography-h1;
}

// Styles applied to the root element if variant="h2".
.ZuTypography-h2 {
  @include zu-typography-h2;
}

// Styles applied to the root element if variant="h3".
.ZuTypography-h3 {
  @include zu-typography-h3;
}

// Styles applied to the root element if variant="h4".
.ZuTypography-h4 {
  @include zu-typography-h4;
}

// Styles applied to the root element if variant="h5".
.ZuTypography-h5 {
  @include zu-typography-h5;
}

// Styles applied to the root element if variant="h6".
.ZuTypography-h6 {
  @include zu-typography-h6;
}

// Styles applied to the root element if variant="overline".
.ZuTypography-overline {
  display: block;

  @include zu-typography-overline;
}

// Styles applied to the root element if variant="subtitle1".
.ZuTypography-subtitle1 {
  @include zu-typography-subtitle1;
}

// Styles applied to the root element if variant="subtitle2".
.ZuTypography-subtitle2 {
  @include zu-typography-subtitle2;
}

// Styles applied to the root element if variant="inherit".
.ZuTypography-inherit {
  @include zu-typography-inherit;
}

// Styles applied to the root element if align="start".
.ZuTypography-alignLeft {
  text-align: left;
}

// Styles applied to the root element if align="center".
.ZuTypography-alignCenter {
  text-align: center;
}

// Styles applied to the root element if align="end".
.ZuTypography-alignRight {
  text-align: right;
}

// Styles applied to the root element if align="justify".
.ZuTypography-alignCenter {
  text-align: justify;
}

// Styles applied to the root element if nowrap={true}.
.ZuTypography-noWrap {

}

// Styles applied to the root element if gutterBottom={true}.
.ZuTypography-gutterBottom {
  margin-bottom: 0.35em;
}