
/* Styles for Typography */

/* Styles applied to the root element. */
.ZuTypography-root {
  margin: 0;
}

/* styles applied to the root element if variant="body1". */
.ZuTypography-body1 {
  font-family: var(--zu-typography-body1-fontFamily);
  font-weight: var(--zu-typography-body1-fontWeight);
  font-size: var(--zu-typography-body1-fontSize);
  line-height: var(--zu-typography-body1-lineHeight);
  letter-spacing: var(--zu-typography-body1-letterSpacing);
}

/* Styles applied to the root element if variant="body2". */
.ZuTypography-body2 {
  font-family: var(--zu-typography-body2-fontFamily);
  font-weight: var(--zu-typography-body2-fontWeight);
  font-size: var(--zu-typography-body2-fontSize);
  line-height: var(--zu-typography-body2-lineHeight);
  letter-spacing: var(--zu-typography-body2-letterSpacing);
}

/* Styles applied to the root element if variant="button". */
.ZuTypography-button {
  display: inline-block;

  font-family: var(--zu-typography-button-fontFamily);
  font-weight: var(--zu-typography-button-fontWeight);
  font-size: var(--zu-typography-button-fontSize);
  line-height: var(--zu-typography-button-lineHeight);
  letter-spacing: var(--zu-typography-button-letterSpacing);
  text-transform: var(--zu-typography-button-textTransform);

}

/* Styles applied to the root element if variant="caption". */
.ZuTypography-caption {
  display: block;

  font-family: var(--zu-typography-caption-fontFamily);
  font-weight: var(--zu-typography-caption-fontWeight);
  font-size: var(--zu-typography-caption-fontSize);
  line-height: var(--zu-typography-caption-lineHeight);
  letter-spacing: var(--zu-typography-caption-letterSpacing);
}

/* Styles applied to the root element if variant="h1". */
.ZuTypography-h1 {
  font-family: var(--zu-typography-h1-fontFamily);
  font-weight: var(--zu-typography-h1-fontWeight);
  font-size: var(--zu-typography-h1-fontSize);
  line-height: var(--zu-typography-h1-lineHeight);
  letter-spacing: var(--zu-typography-h1-letterSpacing);
}

/* Styles applied to the root element if variant="h2". */
.ZuTypography-h2 {
  font-family: var(--zu-typography-h2-fontFamily);
  font-weight: var(--zu-typography-h2-fontWeight);
  font-size: var(--zu-typography-h2-fontSize);
  line-height: var(--zu-typography-h2-lineHeight);
  letter-spacing: var(--zu-typography-h2-letterSpacing);
}

/* Styles applied to the root element if variant="h3". */
.ZuTypography-h3 {
  font-family: var(--zu-typography-h3-fontFamily);
  font-weight: var(--zu-typography-h3-fontWeight);
  font-size: var(--zu-typography-h3-fontSize);
  line-height: var(--zu-typography-h3-lineHeight);
  letter-spacing: var(--zu-typography-h3-letterSpacing);
}

/* Styles applied to the root element if variant="h4". */
.ZuTypography-h4 {
  font-family: var(--zu-typography-h4-fontFamily);
  font-weight: var(--zu-typography-h4-fontWeight);
  font-size: var(--zu-typography-h4-fontSize);
  line-height: var(--zu-typography-h4-lineHeight);
  letter-spacing: var(--zu-typography-h4-letterSpacing);
}

/* Styles applied to the root element if variant="h5". */
.ZuTypography-h5 {
  font-family: var(--zu-typography-h5-fontFamily);
  font-weight: var(--zu-typography-h5-fontWeight);
  font-size: var(--zu-typography-h5-fontSize);
  line-height: var(--zu-typography-h5-lineHeight);
  letter-spacing: var(--zu-typography-h5-letterSpacing);
}

/* Styles applied to the root element if variant="h6". */
.ZuTypography-h6 {
  font-family: var(--zu-typography-h6-fontFamily);
  font-weight: var(--zu-typography-h6-fontWeight);
  font-size: var(--zu-typography-h6-fontSize);
  line-height: var(--zu-typography-h6-lineHeight);
  letter-spacing: var(--zu-typography-h6-letterSpacing);
}

/* Styles applied to the root element if variant="overline". */
.ZuTypography-overline {
  display: block;

  font-family: var(--zu-typography-overline-fontFamily);
  font-weight: var(--zu-typography-overline-fontWeight);
  font-size: var(--zu-typography-overline-fontSize);
  line-height: var(--zu-typography-overline-lineHeight);
  letter-spacing: var(--zu-typography-overline-letterSpacing);
  text-transform: var(--zu-typography-overline-textTransform);
}

/* Styles applied to the root element if variant="subtitle1". */
.ZuTypography-subtitle1 {
  font-family: var(--zu-typography-subtitle1-fontFamily);
  font-weight: var(--zu-typography-subtitle1-fontWeight);
  font-size: var(--zu-typography-subtitle1-fontSize);
  line-height: var(--zu-typography-subtitle1-lineHeight);
  letter-spacing: var(--zu-typography-subtitle1-letterSpacing);
}

/* Styles applied to the root element if variant="subtitle2". */
.ZuTypography-subtitle2 {
  font-family: var(--zu-typography-subtitle2-fontFamily);
  font-weight: var(--zu-typography-subtitle2-fontWeight);
  font-size: var(--zu-typography-subtitle2-fontSize);
  line-height: var(--zu-typography-subtitle2-lineHeight);
  letter-spacing: var(--zu-typography-subtitle2-letterSpacing);
}

/* Styles applied to the root element if variant="inherit". */
.ZuTypography-inherit {

}

/* Styles applied to the root element if align="start". */
.ZuTypography-alignStart {
  text-align: start;
}

/* Styles applied to the root element if align="center". */
.ZuTypography-alignCenter {
  text-align: center;
}

/* Styles applied to the root element if align="end". */
.ZuTypography-alignEnd {
  text-align: end;
}

/* Styles applied to the root element if align="justify". */
.ZuTypography-alignCenter {
  text-align: justify;
}

/* Styles applied to the root element if nowrap={true}. */
.ZuTypography-noWrap {

}

/* Styles applied to the root element if gutterBottom={true}. */
.ZuTypography-gutterBottom {
  margin-bottom: 0.35em;
}