/* pink color scheme */
:root {
  --zu-colors-pink-50: "#fce4ec";
  --zu-colors-pink-100: "#f8bbd0";
  --zu-colors-pink-200: "#f48fb1";
  --zu-colors-pink-300: "#f06292";
  --zu-colors-pink-400: "#ec407a";
  --zu-colors-pink-500: "#e91e63";
  --zu-colors-pink-600: "#d81b60";
  --zu-colors-pink-700: "#c2185b";
  --zu-colors-pink-800: "#ad1457";
  --zu-colors-pink-900: "#880e4f";
  --zu-colors-pink-a100: "#ff80ab";
  --zu-colors-pink-a200: "#ff4081";
  --zu-colors-pink-a400: "#f50057";
  --zu-colors-pink-a700: "#c51162";
}
