
/* Flex direction variants */

.ZuDirection-column {
  flex-direction: column;
}

.ZuDirection-columnReverse {
  flex-direction: column-reverse;
}

.ZuDirection-row {
  flex-direction: row;
}

.ZuDirection-rowReverse {
  flex-direction: row-reverse;
}