$yiq-contrasted-threshold: 150 !default;

// Color contrast
// From bootstrap: https://github.com/twbs/bootstrap/blob/1d6e3710dd447de1a200f29e8fa521f8a0908f70/scss/_functions.scss#L59
@function getContrastText($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  @if ($yiq >= $yiq-contrasted-threshold) {
    // TODO(Shaohua): Refers to dark.text.primary
    @return #fff;
  } @else {
    @return rgba(0, 0, 0, 0.87);
  }
}