
/* Border Radius variables */

$zu-border-radius-none: 0 !default;
$zu-border-radius-small: 2px !default;
$zu-border-radius-medium: 4px !default;
$zu-border-radius-large: 6px !default;
$zu-border-radius-xLarge: 8px !default;
$zu-border-radius-circular: 10000px !default;

:root {
  --zu-border-radius-none: #{$zu-border-radius-none};
  --zu-border-radius-small: #{$zu-border-radius-small};
  --zu-border-radius-medium: #{$zu-border-radius-medium};
  --zu-border-radius-large: #{$zu-border-radius-large};
  --zu-border-radius-xLarge: #{$zu-border-radius-xLarge};
  --zu-border-radius-circular: #{$zu-border-radius-circular};
}