
/* Styles for Stack */

.ZuStack-root {
  display: flex;
}

.ZuDirection-row {
  // FIXME(Shaohua): selector is wrong
  &.ZuStack-spacing-none > :not(style){
    margin-left: $zu-spacing-none;
  }

  &.ZuStack-spacing-xxs > :not(style){
    margin-left: $zu-spacing-xxs;
  }

  &.ZuStack-spacing-xs > :not(style){
    margin-left: $zu-spacing-xs;
  }

  &.ZuStack-spacing-sNudge > :not(style){
    margin-left: $zu-spacing-sNudge;
  }

  &.ZuStack-spacing-s > :not(style){
    margin-left: $zu-spacing-s;
  }

  &.ZuStack-spacing-mNudge > :not(style){
    margin-left: $zu-spacing-mNudge;
  }

  &.ZuStack-spacing-m > :not(style){
    margin-left: $zu-spacing-m;
  }

  &.ZuStack-spacing-l > :not(style){
    margin-left: $zu-spacing-l;
  }

  &.ZuStack-spacing-xl > :not(style){
    margin-left: $zu-spacing-xl;
  }

  &.ZuStack-spacing-xxl > :not(style){
    margin-left: $zu-spacing-xxl;
  }

  &.ZuStack-spacing-xxxl > :not(style){
    margin-left: $zu-spacing-xxxl;
  }
}

.ZuDirection-column {
  &.ZuStack-spacing-none > :not(style){
    margin-top: $zu-spacing-none;
  }

  &.ZuStack-spacing-xxs > :not(style){
    margin-top: $zu-spacing-xxs;
  }

  &.ZuStack-spacing-xs > :not(style){
    margin-top: $zu-spacing-xs;
  }

  &.ZuStack-spacing-sNudge > :not(style){
    margin-top: $zu-spacing-sNudge;
  }

  &.ZuStack-spacing-s > :not(style){
    margin-top: $zu-spacing-s;
  }

  &.ZuStack-spacing-mNudge > :not(style){
    margin-top: $zu-spacing-mNudge;
  }

  &.ZuStack-spacing-m > :not(style){
    margin-top: $zu-spacing-m;
  }

  &.ZuStack-spacing-l > :not(style){
    margin-top: $zu-spacing-l;
  }

  &.ZuStack-spacing-xl > :not(style){
    margin-top: $zu-spacing-xl;
  }

  &.ZuStack-spacing-xxl > :not(style){
    margin-top: $zu-spacing-xxl;
  }

  &.ZuStack-spacing-xxxl > :not(style){
    margin-top: $zu-spacing-xxxl;
  }
}

