
/* Styles for Stack */

.ZuStack-root {
  display: flex;
}

.ZuDirection-row.ZuStack-spacing-none > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-none);
}

.ZuDirection-row.ZuStack-spacing-xxs > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-xxs);
}

.ZuDirection-row.ZuStack-spacing-xs > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-xs);
}

.ZuDirection-row.ZuStack-spacing-sNudge > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-sNudge);
}

.ZuDirection-row.ZuStack-spacing-s > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-s);
}

.ZuDirection-row.ZuStack-spacing-mNudge > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-mNudge);
}

.ZuDirection-row.ZuStack-spacing-m > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-m);
}

.ZuDirection-row.ZuStack-spacing-l > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-l);
}

.ZuDirection-row.ZuStack-spacing-xl > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-xl);
}

.ZuDirection-row.ZuStack-spacing-xxl > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-xxl);
}

.ZuDirection-row.ZuStack-spacing-xxxl > :not(style) + :not(style) {
  margin-left: var(--zu-spacing-xxxl);
}


.ZuDirection-column.ZuStack-spacing-none > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-none);
}

.ZuDirection-column.ZuStack-spacing-xxs > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-xxs);
}

.ZuDirection-column.ZuStack-spacing-xs > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-xs);
}

.ZuDirection-column.ZuStack-spacing-sNudge > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-sNudge);
}

.ZuDirection-column.ZuStack-spacing-s > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-s);
}

.ZuDirection-column.ZuStack-spacing-mNudge > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-mNudge);
}

.ZuDirection-column.ZuStack-spacing-m > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-m);
}

.ZuDirection-column.ZuStack-spacing-l > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-l);
}

.ZuDirection-column.ZuStack-spacing-xl > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-xl);
}

.ZuDirection-column.ZuStack-spacing-xxl > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-xxl);
}

.ZuDirection-column.ZuStack-spacing-xxxl > :not(style) + :not(style) {
  margin-top: var(--zu-spacing-xxxl);
}

