
.zu-circle {
  width: var(--zu-circle-size);
  height: var(--zu-circle-size);

  background-color: #{zu-line-color};
  border-radius: 9999px;
}

.zu-circle--sm {
  --zu-circle-size: 0.5rem;
}

.zu-circle--md {
  --zu-circle-size: 1.5rem;
}

.zu-circle-lg {
  --zu-circle-size: 4rem;
}