
.zu-rectangle {
  background-color: #{zu-line-color};
  border-radius: 0.25rem;
}

.zu-rectangle--hor {
  &.zu-rectangle--20 {
    width: 20%;
  }
  &.zu-rectangle--40 {
    width: 40%;
  }
  &.zu-rectangle--60 {
    width: 60%;
  }
  &.zu-rectangle--80 {
    width: 80%;
  }
  &.zu-rectangle--100 {
    width: 100%;
  }

  &.zu-rectangle--sm {
    height: 0.5rem;
  }
  &.zu-rectangle--md {
    height: 1.5rem;
  }
  &.zu-rectangle--lg {
    height: 4rem;
  }
}

.zu-rectangle--ver {
  &.zu-rectangle--20 {
    height: 20%;
  }
  &.zu-rectangle--40 {
    height: 40%;
  }
  &.zu-rectangle--60 {
    height: 60%;
  }
  &.zu-rectangle--80 {
    height: 80%;
  }
  &.zu-rectangle--100 {
    height: 100%;
  }

  &.zu-rectangle--sm {
    width: 0.5rem;
  }
  &.zu-rectangle--md {
    width: 1.5rem;
  }
  &.zu-rectangle--lg {
    width: 4rem;
  }
}