
.zu-square {
  background-color: #{zu-line-color};
  width: var(--zu-square-size);
  height: var(--zu-square-size);
}

.zu-square--sm {
  --zu-square-size: 0.5rem;
}
.zu-square--md {
  --zu-square-size: 1.5rem;
}
.zu-square--lg {
  --zu-square-size: 4rem;
}
