
.zu-triangle {
  width: 0;
  height: 0;

  border-style: solid;
}

.zu-triangle--t {
  border-color: transparent transparent #{zu-line-color} transparent;
  border-width: 0 var(--zu-triangle-size) var(--zu-triangle-size) var(--zu-triangle-size);
}

.zu-triangle--r {
  border-color: transparent transparent transparent #{zu-line-color};
  border-width: var(--zu-triangle-size) 0 var(--zu-triangle-size) 1rem;
}

.zu-triangle--b {
  border-color: #{zu-line-color} transparent transparent transparent;
  border-width: var(--zu-triangle-size) var(--zu-triangle-size) 0 var(--zu-triangle-size);
}

.zu-triangle--l {
  border-color: transparent #{zu-line-color} transparent transparent;
  border-width: var(--zu-triangle-size) 1rem var(--zu-triangle-size) 0;
}

.zu-triangle--tr {
  border-color: transparent #{zu-line-color} transparent transparent;
  border-width: 0 var(--zu-triangle-size) var(--zu-triangle-size) 0;
}

.zu-triangle--br {
  border-color: transparent transparent #{zu-line-color} transparent;
  border-width: 0 0 var(--zu-triangle-size) var(--zu-triangle-size);
}

.zu-triangle--bl {
  border-color: transparent transparent transparent #{zu-line-color};
  border-width: var(--zu-triangle-size) 0 0 var(--zu-triangle-size);
}

.zu-triangle--tl {
  border-color: #{zu-line-color} transparent transparent transparent;
  border-width: var(--zu-triangle-size) var(--zu-triangle-size) 0 0 ;
}

.zu-triangle--sm {
  --zu-triangle-size: 0.5rem;
}

.zu-triangle--md {
  --zu-triangle-size: 2rem;
}

.zu-triangle--lg {
  --zu-triangle-size: 4rem;
}