/* blueGrey color scheme */
$zu-colors-blueGrey-50: #eceff1;
$zu-colors-blueGrey-100: #cfd8dc;
$zu-colors-blueGrey-200: #b0bec5;
$zu-colors-blueGrey-300: #90a4ae;
$zu-colors-blueGrey-400: #78909c;
$zu-colors-blueGrey-500: #607d8b;
$zu-colors-blueGrey-600: #546e7a;
$zu-colors-blueGrey-700: #455a64;
$zu-colors-blueGrey-800: #37474f;
$zu-colors-blueGrey-900: #263238;
$zu-colors-blueGrey-a100: #cfd8dc;
$zu-colors-blueGrey-a200: #b0bec5;
$zu-colors-blueGrey-a400: #78909c;
$zu-colors-blueGrey-a700: #455a64;

:root {
  --zu-colors-blueGrey-50: $zu-colors-blueGrey-50;
  --zu-colors-blueGrey-100: $zu-colors-blueGrey-100;
  --zu-colors-blueGrey-200: $zu-colors-blueGrey-200;
  --zu-colors-blueGrey-300: $zu-colors-blueGrey-300;
  --zu-colors-blueGrey-400: $zu-colors-blueGrey-400;
  --zu-colors-blueGrey-500: $zu-colors-blueGrey-500;
  --zu-colors-blueGrey-600: $zu-colors-blueGrey-600;
  --zu-colors-blueGrey-700: $zu-colors-blueGrey-700;
  --zu-colors-blueGrey-800: $zu-colors-blueGrey-800;
  --zu-colors-blueGrey-900: $zu-colors-blueGrey-900;
  --zu-colors-blueGrey-a100: $zu-colors-blueGrey-a100;
  --zu-colors-blueGrey-a200: $zu-colors-blueGrey-a200;
  --zu-colors-blueGrey-a400: $zu-colors-blueGrey-a400;
  --zu-colors-blueGrey-a700: $zu-colors-blueGrey-a700;
}
