/* deep_orange color scheme */
:root {
  --zu-colors-deep_orange-50: "#fbe9e7";
  --zu-colors-deep_orange-100: "#ffccbc";
  --zu-colors-deep_orange-200: "#ffab91";
  --zu-colors-deep_orange-300: "#ff8a65";
  --zu-colors-deep_orange-400: "#ff7043";
  --zu-colors-deep_orange-500: "#ff5722";
  --zu-colors-deep_orange-600: "#f4511e";
  --zu-colors-deep_orange-700: "#e64a19";
  --zu-colors-deep_orange-800: "#d84315";
  --zu-colors-deep_orange-900: "#bf360c";
  --zu-colors-deep_orange-a100: "#ff9e80";
  --zu-colors-deep_orange-a200: "#ff6e40";
  --zu-colors-deep_orange-a400: "#ff3d00";
  --zu-colors-deep_orange-a700: "#dd2c00";
}
