/* lightGreen color scheme */
$zu-colors-lightGreen-50: #f1f8e9;
$zu-colors-lightGreen-100: #dcedc8;
$zu-colors-lightGreen-200: #c5e1a5;
$zu-colors-lightGreen-300: #aed581;
$zu-colors-lightGreen-400: #9ccc65;
$zu-colors-lightGreen-500: #8bc34a;
$zu-colors-lightGreen-600: #7cb342;
$zu-colors-lightGreen-700: #689f38;
$zu-colors-lightGreen-800: #558b2f;
$zu-colors-lightGreen-900: #33691e;
$zu-colors-lightGreen-a100: #ccff90;
$zu-colors-lightGreen-a200: #b2ff59;
$zu-colors-lightGreen-a400: #76ff03;
$zu-colors-lightGreen-a700: #64dd17;

:root {
  --zu-colors-lightGreen-50: #{$zu-colors-lightGreen-50};
  --zu-colors-lightGreen-100: #{$zu-colors-lightGreen-100};
  --zu-colors-lightGreen-200: #{$zu-colors-lightGreen-200};
  --zu-colors-lightGreen-300: #{$zu-colors-lightGreen-300};
  --zu-colors-lightGreen-400: #{$zu-colors-lightGreen-400};
  --zu-colors-lightGreen-500: #{$zu-colors-lightGreen-500};
  --zu-colors-lightGreen-600: #{$zu-colors-lightGreen-600};
  --zu-colors-lightGreen-700: #{$zu-colors-lightGreen-700};
  --zu-colors-lightGreen-800: #{$zu-colors-lightGreen-800};
  --zu-colors-lightGreen-900: #{$zu-colors-lightGreen-900};
  --zu-colors-lightGreen-a100: #{$zu-colors-lightGreen-a100};
  --zu-colors-lightGreen-a200: #{$zu-colors-lightGreen-a200};
  --zu-colors-lightGreen-a400: #{$zu-colors-lightGreen-a400};
  --zu-colors-lightGreen-a700: #{$zu-colors-lightGreen-a700};
}
