/* lime color scheme */
$zu-colors-lime-50: #f9fbe7;
$zu-colors-lime-100: #f0f4c3;
$zu-colors-lime-200: #e6ee9c;
$zu-colors-lime-300: #dce775;
$zu-colors-lime-400: #d4e157;
$zu-colors-lime-500: #cddc39;
$zu-colors-lime-600: #c0ca33;
$zu-colors-lime-700: #afb42b;
$zu-colors-lime-800: #9e9d24;
$zu-colors-lime-900: #827717;
$zu-colors-lime-a100: #f4ff81;
$zu-colors-lime-a200: #eeff41;
$zu-colors-lime-a400: #c6ff00;
$zu-colors-lime-a700: #aeea00;

:root {
  --zu-colors-lime-50: $zu-colors-lime-50;
  --zu-colors-lime-100: $zu-colors-lime-100;
  --zu-colors-lime-200: $zu-colors-lime-200;
  --zu-colors-lime-300: $zu-colors-lime-300;
  --zu-colors-lime-400: $zu-colors-lime-400;
  --zu-colors-lime-500: $zu-colors-lime-500;
  --zu-colors-lime-600: $zu-colors-lime-600;
  --zu-colors-lime-700: $zu-colors-lime-700;
  --zu-colors-lime-800: $zu-colors-lime-800;
  --zu-colors-lime-900: $zu-colors-lime-900;
  --zu-colors-lime-a100: $zu-colors-lime-a100;
  --zu-colors-lime-a200: $zu-colors-lime-a200;
  --zu-colors-lime-a400: $zu-colors-lime-a400;
  --zu-colors-lime-a700: $zu-colors-lime-a700;
}
