/* purple color scheme */
$zu-colors-purple-50: #f3e5f5;
$zu-colors-purple-100: #e1bee7;
$zu-colors-purple-200: #ce93d8;
$zu-colors-purple-300: #ba68c8;
$zu-colors-purple-400: #ab47bc;
$zu-colors-purple-500: #9c27b0;
$zu-colors-purple-600: #8e24aa;
$zu-colors-purple-700: #7b1fa2;
$zu-colors-purple-800: #6a1b9a;
$zu-colors-purple-900: #4a148c;
$zu-colors-purple-a100: #ea80fc;
$zu-colors-purple-a200: #e040fb;
$zu-colors-purple-a400: #d500f9;
$zu-colors-purple-a700: #aa00ff;

:root {
  --zu-colors-purple-50: #{$zu-colors-purple-50};
  --zu-colors-purple-100: #{$zu-colors-purple-100};
  --zu-colors-purple-200: #{$zu-colors-purple-200};
  --zu-colors-purple-300: #{$zu-colors-purple-300};
  --zu-colors-purple-400: #{$zu-colors-purple-400};
  --zu-colors-purple-500: #{$zu-colors-purple-500};
  --zu-colors-purple-600: #{$zu-colors-purple-600};
  --zu-colors-purple-700: #{$zu-colors-purple-700};
  --zu-colors-purple-800: #{$zu-colors-purple-800};
  --zu-colors-purple-900: #{$zu-colors-purple-900};
  --zu-colors-purple-a100: #{$zu-colors-purple-a100};
  --zu-colors-purple-a200: #{$zu-colors-purple-a200};
  --zu-colors-purple-a400: #{$zu-colors-purple-a400};
  --zu-colors-purple-a700: #{$zu-colors-purple-a700};
}
