/* yellow color scheme */
$zu-colors-yellow-50: #fffde7;
$zu-colors-yellow-100: #fff9c4;
$zu-colors-yellow-200: #fff59d;
$zu-colors-yellow-300: #fff176;
$zu-colors-yellow-400: #ffee58;
$zu-colors-yellow-500: #ffeb3b;
$zu-colors-yellow-600: #fdd835;
$zu-colors-yellow-700: #fbc02d;
$zu-colors-yellow-800: #f9a825;
$zu-colors-yellow-900: #f57f17;
$zu-colors-yellow-a100: #ffff8d;
$zu-colors-yellow-a200: #ffff00;
$zu-colors-yellow-a400: #ffea00;
$zu-colors-yellow-a700: #ffd600;

:root {
  --zu-colors-yellow-50: #{$zu-colors-yellow-50};
  --zu-colors-yellow-100: #{$zu-colors-yellow-100};
  --zu-colors-yellow-200: #{$zu-colors-yellow-200};
  --zu-colors-yellow-300: #{$zu-colors-yellow-300};
  --zu-colors-yellow-400: #{$zu-colors-yellow-400};
  --zu-colors-yellow-500: #{$zu-colors-yellow-500};
  --zu-colors-yellow-600: #{$zu-colors-yellow-600};
  --zu-colors-yellow-700: #{$zu-colors-yellow-700};
  --zu-colors-yellow-800: #{$zu-colors-yellow-800};
  --zu-colors-yellow-900: #{$zu-colors-yellow-900};
  --zu-colors-yellow-a100: #{$zu-colors-yellow-a100};
  --zu-colors-yellow-a200: #{$zu-colors-yellow-a200};
  --zu-colors-yellow-a400: #{$zu-colors-yellow-a400};
  --zu-colors-yellow-a700: #{$zu-colors-yellow-a700};
}
