
background-color: #44b700;
color: #44b700;
box-shadow: 0 0 0 2px var(--zu-palette-background-paper);

&:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: ripple 1.2s infinite ease-in-out;
    border-radius: 50%;
    border: 1px solid currentColor;
    content: '';
}

@keyframes ripple {
    0% {
        transform: scale(.8);
        opacity: 1;
    }
    100% {
        transform: scale(2.4);
        opacity: 0;
    }
}
